html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}

*{box-sizing: border-box;}

html, body {
  min-height: 100%;
}

body {
  font-family: "微软雅黑";
  font-size:14px;
  color:#333;
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
  list-style: none;
}

i {
  font-style: normal;
}

img {
  border: none;
  vertical-align: middle;
}

input, textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  overflow: auto;
}

a {
  text-decoration: none;
  color: #232323;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text_shadow {
  text-shadow: 0 0 .8rem #51ffff;
}

html, body {
  height: 100%;
}
.overflow {
  overflow: hidden;
}
/* flex布局 */

.flex {
 display: flex;
}
.flex-align{
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-v {
  flex-flow: column;
}
.flex-h-c {
  justify-content: center;
}
.flex-h-end {
  justify-content: flex-end;
}
.flex-s-b {
  justify-content: space-between;
}
.flex-s-r {
  justify-content: space-around;
}
.flex-c {
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/*padding布局*/

.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-lr-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.padding-lr-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.padding-lr-14 {
  padding-left: 14px;
  padding-right: 14px;
}
.padding-lr-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.padding-lr-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.padding-l-2 {
  padding-left: 2px;
}
.padding-l-8 {
  padding-left: 8px;
}
.padding-l-10 {
  padding-left: 10px;
}
.padding-l-12 {
  padding-left: 12px;
}
.padding-l-14 {
  padding-left: 14px;
}
.padding-l-18 {
  padding-left: 18px;
}
.padding-l-20 {
  padding-left: 20px;
}
.padding-r-5 {
  padding-right: 5px;
}
.padding-r-10 {
  padding-right: 10px;
}
.padding-r-14 {
  padding-right: 14px;
}
.padding-r-18 {
  padding-right: 18px;
}
.padding-r-20 {
  padding-right: 20px;
}
.padding-tb-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}
.padding-tb-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.padding-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-tb-14 {
  padding-top: 14px;
  padding-bottom: 14px;
}
.padding-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-tb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.padding-tb-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.padding-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-t-8 {
  padding-top: 8px;
}
.padding-t-10 {
  padding-top: 10px;
}
.padding-t-14 {
  padding-top: 14px;
}
.padding-t-20 {
  padding-top: 20px;
}
.padding-t-30 {
  padding-top: 30px;
}
.padding-b-10 {
  padding-bottom: 10px;
}
.padding-b-14 {
  padding-bottom: 14px;
}
.padding-b-20 {
  padding-bottom: 20px;
}

/*margin布局*/

.margin-15 {
  margin: 15px;
}
.margin-t-1 {
  margin-top: 1px;
}
.margin-t-5 {
  margin-top: 5px;
}
.margin-t-10 {
  margin-top: 10px;
}
.margin-t-15 {
  margin-top: 15px;
}
.margin-l-5 {
  margin-left: 5px;
}
.margin-l-10 {
  margin-left: 10px;
}
.margin-l-15 {
  margin-left: 15px;
}
.margin-l-20 {
  margin-left: 20px;
}
.margin-l-25 {
  margin-left: 25px;
}
.margin-l-40 {
  margin-left: 40px;
}
.margin-l-100 {
  margin-left: 100px;
}
.margin-lr-15 {
  margin-left: 15px;
  margin-right: 15px;
}
.margin-lr-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.margin-b-20 {
  margin-bottom: 20px;
}
.margin-b-35 {
  margin-bottom: 35px;
}
.margin-b-50 {
  margin-bottom: 50px;
}
.margin-b-70 {
  margin-bottom: 70px;
}
.margin-t-20 {
  margin-top: 20px;
}
.margin-t-30 {
  margin-top: 30px;
}
.margin-t-35 {
  margin-top: 35px;
}
.margin-t-p5 {
  margin-top: 5%
}
.margin-t-p10 {
  margin-top: 10%
}
.margin-r-10 {
  margin-right: 10px;
}
.margin-r-15 {
  margin-right: 15px;
}
.margin-r-20 {
  margin-right: 20px;
}
.margin-tb-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.margin-tb-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.margin-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-tb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line-height 行高*/

.line_height_20 {
  line-height: 20px;
}
.line_height_30 {
  line-height: 30px;
}

/* width宽度 */

.width_20px {
  width: 20px;
}
.width_25px {
  width: 25px;
}
.width_30px {
  width: 30px;
}
.width_35px {
  width: 35px;
}
.width_40px {
  width: 30px;
}
.width_45px {
  width: 30px;
}
.width_120px {
  width: 120px;
}
.width_150px {
  width: 150px;
}
.width80 {
  width: 80%;
}
.width95 {
  width: 95%;
}
.width100 {
  width: 100%;
}

/* height 高度*/
.height_20px {
  height: 20px;
}
.height_25px {
  height: 25px;
}
.height_30px {
  height: 30px;
}
.height_35px {
  height: 35px;
}
.height_40px {
  height: 40px;
}
.height_45px {
  height: 45px;
}
.height_300px {
  height: 300px;
}
.height55{
  height: 55%;
}
.height100 {
  height: 100%;
}


.break-all {
  word-break: break-all;
}

/*color 字体颜色*/
.color-white {
  color: white;
}
.color-red {
  color: #d90064;
}
.color-00 {
  color: #000000;
}
.color-33 {
  color: #333333;
}
.color-66 {
  color: #666666;
}
.color-99 {
  color: #999999;
}
.color-blue_108ee9 {
  color: #108ee9;
}

/* font */

.font-5 {
  font-size: 5px;
}
.font-8 {
  font-size: 8px;
}
.font-10 {
  font-size: 10px;
}
.font-11 {
  font-size: 11px;
}
.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-16 {
  font-size: 16px
}
.font-17 {
  font-size: 17px;
}
.font-18 {
  font-size: 18px;
}
.font-19 {
  font-size: 19px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-25 {
  font-size: 25px;
}
.font-40 {
  font-size: 40px;
}
.font-blod {
  font-weight: 600;
}

/*background 背景颜色*/

.bg-white {
  background-color: white;
}
.bg_blue_108ee9 {
  background: #108ee9;
}
.bg_yellow_ec6439 {
  background: #ec6439;
}
.bg_blue_eaf4fe {
  background: #eaf4fe;
}
.bg_white_e7e7e8 {
  background: #e7e7e8;
}
.bg_white_f8f9fb {
   background: #f8f9fb;
 }

/*border 边框*/
.border_radius_2 {
  border-radius: 2px;
}
.border_radius_5 {
  border-radius: 5px;
}
.border_radius_100 {
  border-radius: 100px;
}
.border_1 {
  border: #eeeeee 1px solid;
}
.border_top_1 {
  border-top: #eeeeee 1px solid;
}
.border_bottom_1 {
  border-bottom: #eeeeee 1px solid;
}
.border-left_1_gray {
  border-left: #eeeeee 1px solid
}

/* 滚动*/

.overflow_scroll {
  overflow: scroll
}
.hideScrollBar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
/*透明度*/

.opacity0_3 {
  opacity: 0.3;
}

/* 线条*/
.line1 {
  word-break: break-all;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.line2 {
  word-break: break-all;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line3 {
  word-break: break-all;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.line4 {
  word-break: break-all;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
/* 带三角形消息框 */
.box_right {
    position: relative;
    padding: 10px 20px;
    background: white;
    border-radius: 3px;
    text-align: center;
  }

.box_right:after {
  content: '';
  position: absolute;
  right: -19px;
  top: 16px;
  border: 10px solid transparent;
  border-left-color: white;
}

.box_right:before {
  content: '';
  position: absolute;
  right: -20px;
  top: 15px;
  border: 10px solid transparent;
  border-left-color: white;
}

.box_left {
  position: relative;
  padding: 10px 20px;
  background: white;
  border: 1px solid white;
  border-radius: 3px;
  text-align: center;
}

.box_left:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -10px;
  border: 10px solid transparent;
  border-right-color: white;
}

.box_left:after {
  content: "";
  position: absolute;
  left: -19px;
  top: 50%;
  margin-top: -10px;
  border: 10px solid transparent;
  border-right-color: white
}
